<footer>
    <div class="f-info">
       <p> &copy;  This is an official club website of DYPCOE. All rights are reserved by DYPCOE.</p>
        <div class="f-info-socials">
            <a href="https://www.instagram.com/yourprofile" target="_blank" aria-label="FaceBook">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/yourprofile" target="_blank" aria-label="Instagram">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.facebook.com/yourprofile" target="_blank" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
</footer>
