<%- layout('layouts/boilerplate') %>

<div class="panclub-circles-container">
    <div class="panclub-item">
        <a href="/collegeclub/depatmentclubs/computer" class="panclub-circle-link">
          <div class="panclub-circle">
            <img src="/images/cse.jpg" alt="CSE">
          </div>
          <p class="panclub-title">CSE</p>
        </a>
    </div>

    <div class="panclub-item">
        <a href="/collegeclub/departmentclubs/aids" class="panclub-circle-link">
          <div class="panclub-circle">
            <img src="/images/ai.jpg" alt="AI">
          </div>
          <p class="panclub-title">AI</p>
        </a>
    </div>

    <div class="panclub-item">
        <a href="/collegeclub/departmentclubs/entc" class="panclub-circle-link">
          <div class="panclub-circle">
            <img src="/images/entc.jpg" alt="ENTC">
          </div>
          <p class="panclub-title">ENTC</p>
        </a>
    </div>

    <div class="panclub-item">
        <a href="/collegeclub/departmentclubs/it" class="panclub-circle-link">
          <div class="panclub-circle">
            <img src="/images/it.jpg" alt="IT">
          </div>
          <p class="panclub-title">IT</p>
        </a>
    </div>

    <div class="panclub-item">
        <a href="/collegeclub/departmentclubs/mechanical" class="panclub-circle-link">
          <div class="panclub-circle">
            <img src="/images/mechanical.jpg" alt="MECH">
          </div>
          <p class="panclub-title">MECHANICAL</p>
        </a>
    </div>

    <div class="panclub-item">
        <a href="/collegeclub/departmentclubs/civil" class="panclub-circle-link">
          <div class="panclub-circle">
            <img src="/images/civil.jpg" alt="CIVIL">
          </div>
          <p class="panclub-title">CIVIL</p>
        </a>
    </div>

    <div class="panclub-item">
        <a href="/collegeclub/depatmentclubs/instrumentation" class="panclub-circle-link">
          <div class="panclub-circle">
            <img src="/images/intro.jpg" alt="INST">
          </div>
          <p class="panclub-title">INSTRU</p>
        </a>
    </div>

    <div class="panclub-item">
      <a href="/collegeclub/depatmentclubs/robotics" class="panclub-circle-link">
        <div class="panclub-circle">
          <img src="/images/robotics-and-automation.jpg" alt="ROBOTICS">
        </div>
        <p class="panclub-title">ROBOTICS</p>
      </a>
  </div>
</div>
