<%- layout('layouts/boilerplate') %>

<div class="panclub-circles-container">
    <div class="panclub-item">
        <a href="/collegeclub/panclubs/gdsc" class="panclub-circle-link">
          <div class="panclub-circle">
            <img src="/images/gdsc.jpg" alt="GDSC">
          </div>
          <p class="panclub-title">GDSC</p>
        </a>
    </div>

    <div class="panclub-item">
        <a href="/collegeclub/panclubs/offbit" class="panclub-circle-link">
          <div class="panclub-circle">
            <img src="/images/offbit.jpg" alt="OFFBIT">
          </div>
          <p class="panclub-title">OFFBIT</p>
        </a>
    </div>

    <div class="panclub-item">
        <a href="/collegeclub/panclubs/vihang" class="panclub-circle-link">
          <div class="panclub-circle">
            <img src="/images/vihang.jpg" alt="VIHANG">
          </div>
          <p class="panclub-title">VIHANG</p>
        </a>
    </div>

    <div class="panclub-item">
        <a href="/collegeclub/panclubs/cpmc" class="panclub-circle-link">
          <div class="panclub-circle">
            <img src="/images/cpmc.jpg" alt="CPMC">
          </div>
          <p class="panclub-title">CPMC</p>
        </a>
    </div>

    <div class="panclub-item">
        <a href="/collegeclub/panclubs/abhivyakti" class="panclub-circle-link">
          <div class="panclub-circle">
            <img src="/images/abhivyakti.jpg" alt="ABHIVYAKTI">
          </div>
          <p class="panclub-title">ABHIVYAKTI</p>
        </a>
    </div>

    <div class="panclub-item">
        <a href="/collegeclub/panclubs/nss" class="panclub-circle-link">
          <div class="panclub-circle">
            <img src="/images/nss.jpg" alt="NSS">
          </div>
          <p class="panclub-title">NSS</p>
        </a>
    </div>

    <div class="panclub-item">
        <a href="/collegeclub/panclubs/toastmaster" class="panclub-circle-link">
          <div class="panclub-circle">
            <img src="/images/toastmaster.jpg" alt="TOASTMASTER">
          </div>
          <p class="panclub-title">TOASTMASTER</p>
        </a>
    </div>
</div>
